@charset "UTF-8";
body {
  width: 100vw;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

body .top {
  overflow: hidden;
}

body .top .hero {
  text-align: center;
}

body .top .hero .header {
  height: 100vh;
  overflow: hidden;
}

body .top .hero .header .back {
  width: 34vw;
  position: absolute;
}

body .top .hero .header .textimage {
  overflow: hidden;
}

body .top .hero .header .textimage .text {
  float: left;
  margin-top: 23vh;
  margin-left: 4.5vw;
  font-size: 6vw;
  position: relative;
}

body .top .hero .header .textimage .text .texts {
  /*絶対配置*/
  color: #fff;
  /*文字は白に*/
  top: 0;
  left: 0;
}

body .top .hero .header .textimage .text .texts .year {
  color: #dcabab;
}

body .top .hero .header .textimage .text .texts .keyaki {
  margin-left: 10vw;
  color: #dcabab;
}

body .top .hero .header .textimage img {
  float: left;
  width: 24vw;
  margin-top: 23vh;
  margin-left: 21vw;
}

body .top .hero .header .bottom {
  overflow: hidden;
}

body .top .hero .header .bottom .sns {
  float: left;
  width: 10vw;
  height: 10vw;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 101;
}

body .top .hero .header .bottom .sns svg {
  width: 10vw;
  fill: currentColor;
}

body .top .hero .header .bottom .yazirusi {
  float: left;
  font-size: 3.7vw;
  width: 10vw;
  height: 10vw;
  background-color: #000;
  text-align: center;
  padding-top: auto;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: table;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .top .hero .header .bottom .yazirusi p {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font-size: 3.5vw;
}

body .top .hero .header .bottom .yazirusi ::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

body .top .hero .header .bottom .yazirusi:hover {
  background-color: #666;
}

body .top .hero .header .bottom .yazirusi:hover p {
  color: #fff;
}

body .top .hero .theme {
  background-image: url("/public/images/back3.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75vh;
  background-attachment: fixed;
  padding-top: 10vw;
}

body .top .hero .theme .matome {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
  margin-bottom: 7vw;
}

body .top .hero .theme .matome .texts_1 {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  width: 40vw;
  text-align: right;
  height: calc(100% - 300px);
}

body .top .hero .theme .matome .texts_1 h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .hero .theme .matome .texts_1 h1 span {
  color: #ed7a9b;
}

body .top .hero .theme .matome .texts_1 h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .hero .theme .matome .texts_1 h1 img {
  height: 2.5vw;
  margin-left: 1vw;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

body .top .hero .theme .matome .texts_1 h2 {
  text-align: left;
  font-size: 1vw;
  line-height: 2.2vw;
  color: #000;
  padding: 6vh;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 3vh;
  border-left: #ed7a9b solid 0.4vw;
}

body .top .hero .theme .matome .texts_1 a {
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .top .hero .theme .matome .texts_1 a:hover {
  color: #666;
}

body .top .hero .theme .matome .texts_2 {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  width: 40vw;
  margin-left: 7vw;
  text-align: right;
  height: calc(100% - 300px);
}

body .top .hero .theme .matome .texts_2 h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .hero .theme .matome .texts_2 h1 img {
  height: 2.5vw;
  margin-left: 1vw;
}

body .top .hero .theme .matome .texts_2 h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .hero .theme .matome .texts_2 h2 {
  text-align: left;
  font-size: 1vw;
  line-height: 2.2vw;
  color: #000;
  padding: 6vh;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 70px;
  border-left: #72a8db solid 0.4vw;
}

body .top .hero .theme .matome .texts_2 h2 .day_day {
  font-size: 0.8vw;
  color: #216dfb;
  font-weight: 100;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .hero .theme .matome .texts_2 h2 .day_day_2 {
  font-size: 0.8vw;
  color: #216dfb;
  font-weight: 100;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 2vh;
}

body .top .hero .theme .matome .texts_2 h2 span {
  font-size: 1.3vw;
  font-weight: 100;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
}

body .top .hero .theme .matome .texts_2 h2 .morning {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 35px;
  font-size: 1.3vw;
  margin-top: 1.5vh;
}

body .top .hero .theme .matome .texts_2 h2 .morning span {
  margin-left: 2.1vw;
  font-size: 1vw;
}

body .top .hero .theme .matome .texts_2 h2 .Afternoon {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 35px;
  font-size: 1.3vw;
}

body .top .hero .theme .matome .texts_2 h2 .Afternoon span {
  margin-left: 1vw;
  font-size: 1vw;
}

body .top .hero .theme .matome .texts_2 h2 .COVID‑19 {
  font-size: 0.7vw;
  margin-top: 0.6vh;
  margin-bottom: 0.3vh;
}

body .top .hero .theme .matome .texts_2 a {
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .top .hero .theme .matome .texts_2 a:hover {
  color: #666;
}

body .top .hero .theme .matome_2 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
}

body .top .hero .theme .matome_2 .texts_1 {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  width: 40vw;
  text-align: right;
  height: calc(100% - 300px);
}

body .top .hero .theme .matome_2 .texts_1 h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .hero .theme .matome_2 .texts_1 h1 img {
  height: 2.5vw;
  margin-left: 1vw;
}

body .top .hero .theme .matome_2 .texts_1 h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .hero .theme .matome_2 .texts_1 h2 {
  text-align: left;
  font-size: 1vw;
  line-height: 2.2vw;
  color: #000;
  padding: 6vh;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: #a6c3ac solid 0.4vw;
  margin-bottom: 4.6vh;
}

body .top .hero .theme .matome_2 .texts_1 h2 .train {
  font-size: 1.3vw;
  font-weight: 100;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
  margin-top: 1.3vh;
}

body .top .hero .theme .matome_2 .texts_1 h2 .train_1 {
  margin-left: 1vw;
  font-size: 1vw;
}

body .top .hero .theme .matome_2 .texts_1 h2 .bus {
  font-size: 1.3vw;
  font-weight: 100;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
  margin-top: 1.3vh;
}

body .top .hero .theme .matome_2 .texts_1 h2 .bus_1 {
  margin-left: 1vw;
  font-size: 1vw;
}

body .top .hero .theme .matome_2 .texts_1 h2 .point {
  font-size: 1.3vw;
  font-weight: 100;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
  margin-top: 1.3vh;
}

body .top .hero .theme .matome_2 .texts_1 h2 .point_1 {
  margin-left: 1vw;
  font-size: 1vw;
}

body .top .hero .theme .matome_2 .texts_1 a {
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .top .hero .theme .matome_2 .texts_1 a:hover {
  color: #666;
}

body .top .hero .theme .matome_2 .texts_2 {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  width: 40vw;
  margin-left: 7vw;
  text-align: right;
  height: calc(100% - 300px);
}

body .top .hero .theme .matome_2 .texts_2 h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .hero .theme .matome_2 .texts_2 h1 img {
  height: 2.5vw;
  margin-left: 1vw;
}

body .top .hero .theme .matome_2 .texts_2 h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .hero .theme .matome_2 .texts_2 h2 {
  text-align: left;
  font-size: 1vw;
  line-height: 2.2vw;
  color: #000;
  padding: 6vh;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 3vh;
  border-left: #f6c375 solid 0.4vw;
}

body .top .hero .theme .matome_2 .texts_2 a {
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .top .hero .theme .matome_2 .texts_2 a:hover {
  color: #666;
}

body .top .hero .theme .theme_video {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  text-align: right;
  margin-top: 10vw;
  margin-left: 7vw;
  margin-right: 7vw;
  text-align: center;
}

body .top .hero .theme .theme_video h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .hero .theme .theme_video h1 span {
  color: #ed7a9b;
}

body .top .hero .theme .theme_video h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .hero .theme .theme_video h1 img {
  height: 2vw;
  margin-left: 1vw;
}

body .top .hero .theme .theme_video .PV {
  width: 70vw;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

body .top .texts_5 {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  text-align: right;
  margin-top: 10vw;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 0px;
}

body .top .texts_5 h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .texts_5 h1 span {
  color: #ed7a9b;
}

body .top .texts_5 h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .texts_5 h1 img {
  height: 2vw;
  margin-left: 1vw;
}

body .top .texts_5 .man {
  font-size: 1.5vw;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 15vh;
}

body .top .texts_5 .koutyou {
  margin-top: 8vh;
}

body .top .texts_5 h2 {
  text-align: left;
  font-size: 1vw;
  line-height: 2.2vw;
  color: #000;
  padding: 6vh;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 3vh;
  border-left: #009b8e solid 0.4vw;
}

body .top .texts_5 a {
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .top .texts_5 a:hover {
  color: #666;
}

body .top .sns_2 {
  margin-top: 14vh;
}

body .top .sns_2 .matome_3 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
  margin-bottom: 7vw;
}

body .top .sns_2 .matome_3 .texts_1 {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  width: 40vw;
  text-align: right;
  height: calc(100% - 300px);
}

body .top .sns_2 .matome_3 .texts_1 h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .sns_2 .matome_3 .texts_1 h1 span {
  color: #3291d0;
}

body .top .sns_2 .matome_3 .texts_1 h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .sns_2 .matome_3 .texts_1 h1 img {
  height: 2.5vw;
  margin-left: 1vw;
}

body .top .sns_2 .matome_3 .texts_1 h2 {
  text-align: left;
  font-size: 1vw;
  line-height: 2.2vw;
  color: #000;
  padding: 6vh;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 3vh;
  border-left: #3291d0 solid 0.4vw;
}

body .top .sns_2 .matome_3 .texts_1 a {
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .top .sns_2 .matome_3 .texts_1 a:hover {
  color: #666;
}

body .top .sns_2 .matome_3 .texts_2 {
  background-color: rgba(243, 249, 243, 0.8);
  padding: 2vw;
  border-radius: 16px;
  width: 40vw;
  text-align: right;
  margin-left: 7vw;
  height: calc(100% - 300px);
}

body .top .sns_2 .matome_3 .texts_2 h1 {
  font-size: 1.8vw;
  text-align: left;
  margin-bottom: 3vh;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body .top .sns_2 .matome_3 .texts_2 h1 span {
  color: #3291d0;
}

body .top .sns_2 .matome_3 .texts_2 h1 .small {
  color: #000;
  font-size: 1.2vw;
}

body .top .sns_2 .matome_3 .texts_2 h1 img {
  height: 2.5vw;
  margin-left: 1vw;
}

body .top .sns_2 .matome_3 .texts_2 h2 {
  text-align: left;
  font-size: 1vw;
  line-height: 2.2vw;
  color: #000;
  padding: 6vh;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 3vh;
  border-left: #eb952d solid 0.4vw;
}

body .top .sns_2 .matome_3 .texts_2 a {
  font-size: 0.8vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .top .sns_2 .matome_3 .texts_2 a:hover {
  color: #666;
}
/*# sourceMappingURL=top.css.map */