footer {
  background-color: #fff;
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  border-radius: 16px 16px 0px 0px;
  background-color: rgba(243, 249, 243, 0.8);

  .footer_copy {
    padding: 1vh;
  }
}